.ticket-section {
  padding: 5rem 7%;
  position: relative;
}

.text-center {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 3.6rem;
  color: rgb(10, 77, 0);
}

.ticket-section p {
  font-size: 1.1rem;
}

.card {
  background-image: url(../../../assets/image/sfondoTicket.jpg);
  background-size: cover;
  height: 50vh;
  width: 25vw;
  margin-right: 12rem;
  position: relative;
}

.card h1 {
  position: absolute;
  opacity: 1;
  font-weight: bold;
  letter-spacing: 2px;
  top: 2%;
  left: 2%;
  font-size: 1em;
  color: rgb(10, 77, 0);
  padding: 2px;
}

.card p {
  font-size: 1em;
  position: absolute;
  bottom: 12%;
  left: 2%;
  opacity: 2;
  color: rgb(10, 77, 0);
  background-color: #d4d4d4;
  padding: 4px;
}

.card .btnAdd {
  position: absolute;
  bottom: 10px;
  margin: 2px;
}

.card .btnDelete {
  left: 0;
}

.card .btnBuy {
  right: 0;
}

.btn {
  margin-top: 10px;
}

.btnAdd {
  color: white;
  background-color: rgb(10, 77, 0);
}

@media (max-width: 768px) {
  .card {
    width: 30vh;
    margin-left: 30%;
  }
}
@media (max-width: 568px) {
  .card {
    width: 30vh;
    margin-left: 30%;
  }
  .text-center {
    margin-top: 3rem;
    font-size: 1.6rem;
  }
}
