<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <a [routerLink]="['/intro']" *ngIf="!utente" routerLinkActive="active"> </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item d-flex justify-content-center" *ngIf="utente">
          <img
            src="../../../assets/svgAnimals/bear-pawprint-svgrepo-com.svg"
            alt=""
            width="25px"
            class="px-1"
          />
          <a
            class="nav-link active"
            [routerLink]="['/home']"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item" *ngIf="utente">
          <a
            class="nav-link"
            [routerLink]="['/animal']"
            routerLinkActive="active"
            >Animali</a
          >
        </li>
        <li class="nav-item" *ngIf="utente">
          <a
            class="nav-link"
            [routerLink]="['/habitat']"
            routerLinkActive="active"
            >Zone Faunistiche</a
          >
        </li>
        <li class="nav-item" *ngIf="utente">
          <a class="nav-link" routerLinkActive="active">Area Personale</a>
        </li>

        <li class="nav-item" *ngIf="!utente">
          <a
            class="nav-link"
            [routerLink]="['/intro']"
            routerLinkActive="active"
            ><img
              src="../../../assets/svgAnimals/bear-pawprint-svgrepo-com.svg"
              alt=""
              width="25px"
          /></a>
        </li>
        <li class="nav-item" *ngIf="!utente">
          <a
            class="nav-link"
            [routerLink]="['/login']"
            routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item" *ngIf="!utente">
          <a
            class="nav-link"
            [routerLink]="['/register']"
            routerLinkActive="active"
            >Registrati</a
          >
        </li>
      </ul>
    </div>
    <div>
      <a class="dropdown-item me-3" href="#" *ngIf="utente" (click)="logout()"
        ><img
          src="../../../assets/svgAnimals/monkey-shape-svgrepo-com.svg"
          alt=""
          width="25px"
      /></a>
    </div>
  </div>
</nav>
