<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <a [routerLink]="['/intro']" routerLinkActive="active"> </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item d-flex justify-content-center" *ngIf="utente">
          <img
            src="../../../assets/svgAnimals/bear-pawprint-svgrepo-com.svg"
            alt=""
            width="25px"
            class="px-1"
          />
          <a
            class="nav-link active"
            [routerLink]="['/intro']"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item" *ngIf="utente">
          <a
            class="nav-link"
            [routerLink]="['/animal']"
            routerLinkActive="active"
            >Animali</a
          >
        </li>
        <li class="nav-item" *ngIf="utente">
          <a
            class="nav-link"
            [routerLink]="['/habitat']"
            routerLinkActive="active"
            >Zone Faunistiche</a
          >
        </li>
        <li class="nav-item" *ngIf="utente">
          <div class="dropdown">
            <button
              class="btn btn-default dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Area Personale
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="droplink d-flex justify-content-between">
                <div class="link">
                  <h6 class="fw-bolder">Cosa desideri fare?</h6>
                  <li [routerLink]="['/profile']">Profilo</li>
                  <li [routerLink]="['/biglietti']">Acquista ticket</li>
                  <li [routerLink]="['/favorite']">Preferiti</li>
                  <li [routerLink]="['/pagamenti']">Carrello</li>
                  <li [routerLink]="['/chess']">Scacchi</li>
                  <li [routerLink]="['/quiz']">Quiz</li>
                </div>
              </div>
            </ul>
          </div>
        </li>

        <li class="nav-item" *ngIf="utente">
          <div class="dropdown">
            <button
              class="btn btn-default dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              ParkZooWeb
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="droplink d-flex justify-content-between">
                <div class="link">
                  <h6 class="fw-bolder">A proposito di noi</h6>
                  <li [routerLink]="['/zoo']">Storia</li>
                  <li [routerLink]="['/mission']">Mission</li>
                  <li>Aziende Partner</li>
                </div>
                <div class="link">
                  <h6 class="fw-bolder">Contatti</h6>
                  <li>Contatti</li>
                  <li>Richieste commerciali</li>
                  <li>Lavora con noi</li>
                </div>
                <div class="link">
                  <h6 class="fw-bolder">Aziende e turismo</h6>
                  <li>Esperienze esclusive</li>
                  <li>Proposte per il tuo business</li>
                  <li>Biglietti business</li>
                </div>
              </div>
            </ul>
          </div>
        </li>

        <li class="nav-item" *ngIf="!utente">
          <a
            class="nav-link"
            [routerLink]="['/intro']"
            routerLinkActive="active"
            ><img
              src="../../../assets/svgAnimals/bear-pawprint-svgrepo-com.svg"
              alt=""
              width="25px"
          /></a>
        </li>
        <li class="nav-item" *ngIf="!utente">
          <a
            class="nav-link"
            [routerLink]="['/login']"
            routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item" *ngIf="!utente">
          <a
            class="nav-link"
            [routerLink]="['/register']"
            routerLinkActive="active"
            >Registrati</a
          >
        </li>
      </ul>
    </div>
    <div>
      <a class="dropdown-item me-3" href="#" *ngIf="utente" (click)="logout()"
        ><img
          src="../../../assets/svgAnimals/monkey-shape-svgrepo-com.svg"
          alt=""
          width="25px"
      /></a>
    </div>
  </div>
</nav>
