<header class="header"></header>
<section>
  <div class="container mt-4">
    <h6>
      <strong>ZooWebPark</strong> è un luogo dove la passione per la
      conservazione della natura e la meraviglia degli animali si incontrano per
      ispirare e educare le generazioni presenti e future. Situato nel cuore di
      <strong>DomusNovas</strong>, il Parco Zoo si è affermato come un centro di
      eccellenza nella tutela delle specie minacciate e nella promozione della
      biodiversità.
    </h6>
    <h2 class="mt-4">La Nostra Missione</h2>
    <p class="mt-4">
      L'impegnativo ruolo che <strong>ZooWebPark</strong> si è assunto è tanto
      ambizioso quanto stimolante. La nostra missione è abbracciare la
      conservazione della biodiversità sotto molteplici aspetti, riflettendo due
      fondamenti principali:
    </p>
    <div class="d-flex justify-content-between my-4">
      <article>
        <h3 class="text-center">Conservazione</h3>
        <p>
          La sopravvivenza degli ambienti naturali e di numerose specie animali
          e vegetali è seriamente minacciata dalla rapida crescita della
          popolazione mondiale e dal conseguente aumento della domanda di
          risorse naturali. Il nostro impegno è quello di rispondere
          concretamente ai problemi di tutela dell'ambiente, promuovendo la
          conservazione in situ ed ex situ delle specie minacciate.
        </p>
      </article>
      <hr />
      <article>
        <h3 class="text-center">Ricerca</h3>
        <p>
          Siamo impegnati ad incoraggiare, sostenere e condurre ricerche che
          migliorino la gestione degli animali in cattività, apportino benefici
          ai programmi di conservazione e contribuiscano alla conoscenza
          scientifica di base degli animali e dei loro habitat naturali. La
          ricerca è uno degli obiettivi primari del nostro Parco, mirando a
          migliorare il benessere degli animali e a promuovere la conservazione
          delle specie.
        </p>
      </article>
    </div>
    <h2 class="mt-4 text-center">Esplora i nostri progetti</h2>
    <p class="mt-4">
      Il nostro impegno per la conservazione si riflette nei numerosi progetti
      in cui siamo coinvolti, sia a livello nazionale che internazionale.
      Collaboriamo attivamente con associazioni e istituzioni per implementare
      azioni concrete per la tutela delle specie e la salvaguardia degli
      habitat.
    </p>
    <h2 class="mt-4 text-center">Unisciti a Noi nella Conservazione</h2>
    <p class="mt-4">
      Il tuo sostegno è fondamentale per il successo delle nostre iniziative di
      conservazione. Scopri come puoi contribuire alla nostra missione e
      diventare parte del nostro impegno per la salvaguardia della natura.
    </p>
  </div>
</section>
