<section class="intro" id="intro">
  <div class="content">
    <h3>
      Goditi questa fantastica<br />
      avventura <br />
      tra gli animali
    </h3>
    <a [routerLink]="['/register']" class="btn" *ngIf="!utente"
      >Entra nello zoo</a
    >
  </div>
  <div class="wave"></div>
</section>

<section class="about" id="about">
  <h2 class="deco-title">About us</h2>
  <div class="box-container">
    <div class="image">
      <img
        src="../../../assets/image/Progetto senza titolo.png"
        alt=""
        class="image-fluid"
      />
    </div>
    <div class="content">
      <h5 class="title">
        Puoi trovare le più famose specie animali e non solo!
      </h5>
      <p>
        Benvenuto nel nostro zoo, dove avrai l'opportunità di immergerti nella
        bellezza e nella diversità della natura. Scopri le più famose specie
        animali e tanto altro ancora mentre ti avventuri attraverso i nostri
        straordinari habitat. Ogni angolo del nostro zoo è un'opportunità di
        apprendimento e divertimento per tutta la famiglia!
      </p>
      <div class="icons-container">
        <div class="icons">
          <i class="bi bi-mortarboard-fill"></i>
          <h5>Educhiamo</h5>
        </div>
        <div class="icons">
          <a [routerLink]="['/chess']" class="text-decoration-none text-dark">
            <i class="bi bi-megaphone-fill"></i>
            <h5>Giochiamo</h5></a
          >
        </div>
        <div class="icons">
          <i class="bi bi-book-fill"></i>
          <h5>Insegniamo</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="gallery p-5 mb-5" id="gallery">
  <h2 class="heading fw-bolder fs-1">Galleria</h2>
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active d-none d-md-block">
        <div class="image">
          <img
            src="https://cdn.pixabay.com/photo/2019/04/06/17/06/camel-4107807_1280.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="carousel-item">
        <div class="image">
          <img
            src="https://cdn.pixabay.com/photo/2019/12/17/13/10/snake-4701589_1280.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="carousel-item">
        <div class="image">
          <img
            src="https://cdn.pixabay.com/photo/2023/03/30/18/27/animal-7888465_1280.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="carousel-item">
        <div class="image">
          <img
            src="https://cdn.pixabay.com/photo/2022/09/02/11/27/otter-7427340_1280.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<section class="animal" id="animal">
  <h2 class="heading fw-bolder fs-1">Animali</h2>
  <div class="box-container">
    <div class="box">
      <img
        src="https://cdn.pixabay.com/photo/2023/06/28/12/32/chameleon-8094345_1280.jpg"
        alt=""
      />
      <div class="content">
        <h3>Camaleonte</h3>
        <a href="#" class="btn">Dettagli</a>
      </div>
    </div>

    <div class="box">
      <img
        src="https://cdn.pixabay.com/photo/2022/01/21/07/21/ring-tailed-lemur-6954076_1280.jpg"
        alt=""
      />
      <div class="content">
        <h3>Lemure</h3>
        <a href="#" class="btn">Dettagli</a>
      </div>
    </div>

    <div class="box">
      <img
        src="https://cdn.pixabay.com/photo/2022/10/05/21/30/monkey-7501568_1280.jpg"
        alt=""
      />
      <div class="content">
        <h3>Macaco</h3>
        <a href="#" class="btn">Dettagli</a>
      </div>
    </div>

    <div class="box">
      <img
        src="https://cdn.pixabay.com/photo/2018/12/29/14/58/african-elephant-3901543_1280.jpg"
      />
      <div class="content">
        <h3>Elefante</h3>
        <a href="#" class="btn">Dettagli</a>
      </div>
    </div>
  </div>
</section>

<section class="banner">
  <div class="row p-5">
    <div class="content">
      <h3>Rilassati con gli animali</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
        voluptate deserunt laborum et, non ipsam veritatis fuga laudantium,
        nemo, nesciunt doloribus minima. Eligendi ab nam voluptas provident
        repudiandae quaerat similique.
      </p>
    </div>
    <div class="image">
      <img src="../../../assets/image/ghepardoOvale (2).png" alt="" />
    </div>
  </div>
</section>

<div class="pricing my-5" id="pricing">
  <h2 class="heading fw-bolder fs-1">Prezzo</h2>
  <div class="box-container px-4">
    <div class="box">
      <img
        src="../../../assets/image/man-396307_640.jpg"
        alt=""
        class="img-pricing image-fluid"
      />
      <h3>Individuale</h3>
      <h4 class="price">12€</h4>
      <p>Entrata dalle 9:00 alle 18:00</p>
    </div>
    <div class="box">
      <img
        src="../../../assets/image/school-bus-2645085_640.jpg"
        alt=""
        class="img-pricing image-fluid"
      />
      <h3>Scuola</h3>
      <h4 class="price">10€</h4>
      <p>Entrata dalle 9:00 alle 18:00</p>
    </div>
    <div class="box">
      <img
        src="../../../assets/image/family-7392843_640.jpg"
        alt=""
        class="img-pricing image-fluid"
      />
      <h3>Famiglie</h3>
      <h4 class="price">8€</h4>
      <p>Entrata dalle 9:00 alle 18:00</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
<!-- <section class="footer">
  <div class="box-container">
    <div class="box">
      <div class="d-flex align-items-baseline">
        <img
          src="../../../assets/svgAnimals/bear-pawprint-svgrepo-com.svg"
          alt=""
          width="30px"
        />
        <h3>Zoo</h3>
      </div>

      <p>Orari del nostro centralino.</p>
      <p class="links"><i class="bi bi-calendar-check"></i> lunedì-venerdì</p>
      <p class="days">7:00AM - 20:00PM</p>
    </div>

    <div class="box">
      <h3>Contattaci</h3>
      <a href="#" class="links"
        ><i class="bi bi-telephone-fill"></i> 1234566789</a
      >
      <a href="#" class="links"
        ><i class="bi bi-envelope-at-fill"></i> zoo@park.com</a
      >
      <a href="#" class="links"
        ><i class="bi bi-geo-alt-fill"></i> Cagliari,Italy</a
      >
    </div>

    <div class="box">
      <h3>Link rapidi</h3>
      <a href="" class="links"
        ><i class="bi bi-arrow-right-circle-fill"></i> home</a
      >
      <a href="" class="links"
        ><i class="bi bi-arrow-right-circle-fill"></i> about</a
      >
      <a href="" class="links"
        ><i class="bi bi-arrow-right-circle-fill"></i> galleria</a
      >
      <a href="" class="links"
        ><i class="bi bi-arrow-right-circle-fill"></i> animali</a
      >
      <a href="" class="links"
        ><i class="bi bi-arrow-right-circle-fill"></i> prezzi</a
      >
    </div>

    <div class="box">
      <h3>NewsLetter</h3>
      <p>Iscriviti per ricevere le ultime novità</p>
      <a [routerLink]="['/register']" class="btn">iscriviti!</a>
      <div class="share">
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-twitter-x"></i></a>
        <a href="#"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </div>
  <div class="credit">
    &copy; 2024 zoowebpark. All rights served by
    <a href="#" class="link">GianniCbd</a>
  </div>
</section> -->
