<div class="container mt-5 pt-3">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ currentUser.name }}, Benvenuto a ZooParkWeb</h1>
      <p>
        Esplora il nostro fantastico zoo virtuale e scopri le meraviglie della
        natura!
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <img
        src="../../../assets/image/elefantiHabitat.jpg"
        class="img-fluid"
        alt="Habitat"
        width="650px"
        height="650px"
      />
    </div>

    <div class="col-md-6">
      <h2>Habitat</h2>
      <p>
        Il nostro zoo offre una vasta gamma di habitat per ospitare le diverse
        specie. Ecco alcuni dei nostri habitat principali:
      </p>
      <ul class="listOne">
        <li>
          Foresta Tropicale: un ambiente lussureggiante e umido adatto a molte
          specie di uccelli e mammiferi.
        </li>
        <li>
          Savana Africana: vasti spazi aperti ideali per grandi erbivori come
          zebre e giraffe.
        </li>
        <li>
          Laguna Tropicale: un ambiente acquatico perfetto per animali come i
          fenicotteri e le tartarughe.
        </li>
        <li>
          Deserto: un habitat arido e caldo che ospita animali adattati alle
          condizioni estreme come i cammelli e i rettili.
        </li>
        <li>
          Foresta Temperata: un'area boschiva con clima moderato che sostiene
          una grande varietà di specie arboree e animali.
        </li>
        <li>
          Montagne: habitat montano con pendii rocciosi e foreste alpine,
          popolato da animali come le aquile e le marmotte.
        </li>
      </ul>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <h2>Animali</h2>
        <p>
          Il nostro zoo ospita una vasta varietà di animali provenienti da
          diverse parti del mondo. Ecco alcuni degli animali che potrai
          incontrare nel nostro zoo:
        </p>
        <ul class="listOne">
          <li>
            Leoni: i re della giungla, noti per la loro forza e maestosità.
          </li>
          <li>
            Elefanti: giganti gentili con una notevole intelligenza e una lunga
            memoria.
          </li>
          <li>
            Pinguini: abili nuotatori che vivono in colonie e si distinguono per
            il loro adorabile aspetto.
          </li>
          <li>
            Tigri Bianche: rare e magnifiche, con il loro manto bianco e nero.
          </li>
          <li>
            Fenicotteri: noti per il loro caratteristico colore rosa e il loro
            habitat in zone umide.
          </li>
          <li>
            Gorilla: primati imponenti e intelligenti, strettamente imparentati
            con gli esseri umani.
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <img
          src="../../../assets/image/pappagallo.jpg"
          class="img-fluid"
          alt="Animali"
        />
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <h2>Ultime novità</h2>
      <p>Scopri le ultime aggiunte al nostro zoo:</p>
      <ul class="listOne">
        <li>
          Pinguini: una nuova colonia di pinguini è arrivata al nostro zoo!
        </li>
        <li>
          Tigri Bianche: ammira la rara bellezza di queste splendide creature.
        </li>
      </ul>
    </div>
  </div>
</div>
