.container {
  padding-top: 15rem;
  padding-bottom: 2rem;
  max-width: 100%;
}

.btn {
  margin-top: 2rem;
  border-radius: 20px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  display: flex;
  justify-content: center;
}

.button-grid-item {
  text-align: center;
}

.timer span {
  color: #d9534f;
}

.timer h4 {
  font-weight: bold;
  margin-top: 1rem;
}
