<section class="map">
  <div class="container d-flex justify-content-between">
    <img src="../../../assets/image/mappa.jpg" alt="" />

    <!-- <hr />
    <article>
      <h1 class="info">Informazioni</h1>
      <ul class="list">
        <h3>Habitat</h3>
        <li>Zona A - Savana</li>
        <li>Zona B - Antartide/artico</li>
        <li>Zona C - Taiga</li>
        <li>Zona D - Foresta Pluviale</li>
        <li>Zona E - Deserto</li>
        <h3 class="mt-3">Servizi</h3>
        <li>🚻 - WC</li>
        <li>🥥 - Bar</li>
        <li>🍴 - Ristoranti</li>
      </ul>
    </article> -->
  </div>
</section>
