.preVideo {
  background-color: #64c97a;
}

.section1 {
  padding-top: 5rem;
}

.container {
  background-color: #64c97a;
  max-width: 100%;
}

.card {
  width: calc(100% - 20px);
  max-width: 400px;
  margin: 10px auto;
  border-radius: 0;
  overflow: hidden;
}
.card:hover {
  transform: scale(1.1);
}

.card .card-img-top {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0;
}
.card .card-img-top:hover {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0;
  background-color: black;
  opacity: 0.8;
  transition: 0.5s ease;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  padding: 0;
  color: #555;
}

.fade:not(.show) {
  opacity: 1;
}
@media screen and (max-width: 600px) {
  .card {
    width: calc(100% - 40px);
  }
}

.modal-container {
  position: fixed;
  margin-top: 20px;
  max-height: 80vh;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.modal-container::-webkit-scrollbar {
  width: 10px;
}

.modal-container::-webkit-scrollbar-track {
  background: transparent;
}

.modal-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.modal-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.modal-content {
  background-color: #d4d4d4;
  border-radius: 10px;
  padding: 20px;

  border: 3px solid black;
}

.btnMod {
  border-radius: 20px;
  border: transparent;
  padding: 5px;
  background-color: rgb(4, 104, 3);
  color: white;
  font-size: 18px;
}
