.container {
  max-width: 100%;
  text-align: center;
  margin-top: 5rem;
}

.box-container .animalImage {
  width: 350px;
  height: 300px;
  padding: 1rem;
}

.parHabitat span {
  background-color: orangered;
  padding: 5px;
}

ul {
  margin-top: 3.5rem;
}

li {
  padding: 0 3.5rem;
  font-weight: 600;
}

li:hover {
  border-bottom: 3px solid orangered;
  color: orangered;
}

/* Nasconde il dropdown per schermi larghi */
.dropdown.visible-xs {
  display: none;
}

/* Mostra il dropdown per schermi piccoli */
@media (max-width: 776px) {
  ul.nav li a {
    display: none;
  }

  .dropdown {
    display: block;
  }
  .dropdown ul {
    border: 2px solid orangered;
  }

  .dropdown-menu li {
    font-weight: 400;
    text-align: start;
    padding: 2px;
  }

  .dropdown li:hover {
    border-bottom: 3px solid orangered;
    color: orangered;
  }
}

@media (max-width: 516px) {
  .box-container .animalImage {
    width: 250px;
    height: 200px;
  }
}
